#header { 
          height:150px;
}

#menu { height:75px;
}

#main-body {
    
}

#footer { 
          height:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top:6px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border:1px solid #333333;
    border-radius:10px;
}

li {
    float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#header-img {
    max-height: 100%;
    width: 300px;
    border-radius:10px;
    float:right;
}

body {
    background-color: #F99847;
}

#footer-text { 
    margin-top:20px;
    padding:10px;
    font-size:20px;
    font-weight:bold;
}

#header-text {
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}

#tooltip {
    position: fixed;
    display: none;
    top: 0px;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    height: 250px;
    border: 3px #ffd100 double;
    background-color: white;
    z-index: 999;
    -webkit-box-shadow: 3px 3px 3px gray;
    -webkit-border-radius: 5px;
}

#tooltip img {
    width:250px;
    height:250px;
}

p a {
    color:blue;
    text-decoration:none;
}
p a:hover{
    color:white;
}

